body {
  background-color: black;
  font-family: "Open Sans", Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #3170a8;
  font-size: 50px;
  font-weight: normal;
}

.color-letter {
  color: #ee8129;
  text-shadow: #962400 0 10px 0 0;
}

div {
  display: inline-block;
}

.conteiner1 {
  position: absolute;
  background-color: white;
  width: 375px;
  height: 110px;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  margin: 5px 0px;
  top: 126px;
  left: 214px;
}

.conteiner1::after {
  content: '';
  position: relative;
  border: 20px solid transparent;
  border-right: 23px solid white;
  top: -52px;
  left: -48px;
}

.picture-ninja {
  content: url("knives-ninja.png");
  position: relative;
  width: 122px;
  height: 124px;
  top: 5px;
  left: 50px;
}

.word-left {
  float: right;
}

.style-text {
  color: #6b9eca;
  font-style: italic;
  font-weight: bold;
}

.color-text {
  color: #9f9f9f;
}

hr {
  border: none;
  border-top: 2px dotted black;
}

.conteiner2 {
  position: absolute;
  background-color: white;
  width: 375px;
  height: 110px;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  margin: 15px 390px;
  border: 0;
  right: -255px;
  top: 117px;
}

.conteiner2::after {
  content: '';
  position: relative;
  right: 47px;
  top: -48px;
  border: 20px solid transparent;
  border-right:23px solid white;
}

.picture-deer {
  content: url("ponsy-deer.png");
  position: relative;
  width: 122px;
  height: 124px;
  right: -557px;
  top: 6px;
}