.pagination-container {
  display: flex;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  color: #a23cd0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #a23cd0;
  transition: all 0.4s;
  margin: 0 5px;
  height: 40px;
  max-width: 40px;
  box-sizing: border-box;
  cursor: pointer;
}

.pagination-item-selected {
  background-color: #a23cd0;
  color: white;
}

.pagination-item-unbordered {
  display: flex;
  justify-content: center;
  align-items: end;
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  color: #a23cd0;
  height: 40px;
  max-width: 40px;
  box-sizing: border-box;
  cursor: pointer;
}

.pagination-button {
  display: flex;
  align-items: center;
  color: #a23cd0;
  font-size: 20px;
  font-weight: bold;
  margin: 0 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.pagination-item:hover {
  background-color: #a23cd0;
  color: white;
}

.pager-prefix a:before {
  content: '\00ab';
  margin-right: 3px;
}

.pager-suffix a:after {
  content: '\00bb';
  margin-left: 3px;
}
